<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mbpFramework" type="MBP.FRW.Core.Configuration.MBPFrameworkSection, MBP.FRW.Core" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ServiceUrl" value="http://localhost:5557/" />
    <add key="ServiceCredentialUsername" value="e923_s_CRM" />
    <add key="ServiceCredentialPassword" value="2ot3wrgCFt;2SmAg}dRG" />
    <add key="crypto_key" value="NepPZVzGKyYj9fX+Sxe7kZSbrM5F3KJ6yEPTdtBxi+4=" />
    <add key="crypto_iv" value="8RFl2ExSnYWcGuplarvM3CN6itMRb6UhiWZLGUEpWjI=" />
    <add key="ApplicationId" value="23" />
  </appSettings>
  <connectionStrings>
    <add name="DBWORKFLOW" connectionString="Initial Catalog=DBWORKFLOW;Data Source=SIBEB710;User Id=iis_user;Password=!iis_user00;" providerName="System.Data.SqlClient" />
    <add name="MBPCRM" connectionString="Data Source=S140B012.PT140.CORPINTRA.NET;Initial Catalog=MBP_MSCRM;Integrated Security=SSPI;Pooling=false;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <mbpFramework>
    <mailService host="127.0.0.1" port="25" username="pid6c4a@emea.corpdir.net" password="Mercedes2014" enableSSL="false" />
    <proxy address="http://s140a011.pt140.corpintra.net:3128" username="eibe_mbp_s_files" password="!Selif2010" domain="EMEA" />
  </mbpFramework>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <globalization uiCulture="pt-PT" culture="pt-PT" />
    <authentication mode="Windows" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.1.0" newVersion="4.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>-->
    
    <security>
      <authorization>
        <remove users="*" roles="" verbs="" />
        <add accessType="Allow" users="NBARREI, MARHUGO, PEDLUIS, JOPRATA, ACASSIS" />
      </authorization>
    </security>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="false">
      <module type="MBP.FRW.Net.CorporateProxy, MBP.FRW.Net" />
    </defaultProxy>
  </system.net>
</configuration>
