<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ServiceUrl"
         value="https://s140i005.pt140.corpintra.net/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="DBWORKFLOW"
         providerName="System.Data.SqlClient"
         connectionString="Initial Catalog=DBWORKFLOW_UAT;Data Source=s140b005.pt140.corpintra.net;User Id=iis_user;Password=!113_user00;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="MBPCRM" 
         providerName="System.Data.SqlClient" 
         connectionString="Data Source=S140B012.PT140.CORPINTRA.NET;Initial Catalog=MBP_MSCRM;Integrated Security=SSPI;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <mbpFramework>
    <mailService host="wksmtphub.wk.dcx.com"
                 port="25"
                 username="pid6c4a@emea.corpdir.net"
                 password="Mercedes2014"
                 enableSSL="false"
                 xdt:Transform="SetAttributes" />
  </mbpFramework>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json"
               xdt:Transform="Remove" xdt:Locator="Match(mimeType)" />
    </staticContent>
    <security>
      <authorization>
        <add accessType="Allow" users="NBARREI, MARHUGO, PEDLUIS, BRETESS, JOPRATA, ACASSIS" xdt:Transform="SetAttributes" />
      </authorization>
    </security>
  </system.webServer>
</configuration>