@model MBP.CE.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = @Resources.ChangePassword;
}

<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h3 style="margin-bottom: 30px">@Resources.ChangePassword</h3>

        <h5 style="margin-bottom: 30px">@Resources.ChangePasswordSucessful</h5>
    </div>
</div>