
<style>
    body { background: #FFF !important; }
 
     .page-head { display: none !important; }

    .navbar { display: none !important; }

    .k-grid-pager { display: none; }

    .foot { display: none; }
</style>

<div id="certificates-list"></div>

@section scripts {
    @Scripts.Render("~/bundles/pdflist")
}

