
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Erro</h2>

<p>Ocorreu um erro inesperado na página. Por favor, volte a tentar efectuar a operação. Se o erro persistir, contacte o administrador.</p>

<a href="javascript:window.history.go(-1)">Voltar à página anterior</a>

