<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
  
    <target name="LogFileDebug" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMMdd}_DEBUG.txt"
            layout="${date:format=HH\:mm\:ss} | ${level} | ${callsite:className=true:includeSourcePath=true:methodName=true} | ${message}" createDirs="true" />

    <target name="LogFile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMMdd}.txt"
            layout="${date:format=HH\:mm\:ss} | ${level} | ${message}" createDirs="true" />

    <target name="FatalLogFile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMMdd}_FATAL.txt"
            layout="${date:format=HH\:mm\:ss} | ${level} | ${callsite:className=true:includeSourcePath=true:methodName=true} | ${message} | ${exception:format=tostring} ${newline} ${newline} ${stacktrace:format=Raw}"
            createDirs="true" />

	<!-- <target name="LogMail" xsi:type="Mail" -->
            <!-- to="appmanagement@daimler.com" from="CE_FE_Prod@mercedes-benz.pt" -->
            <!-- addNewLines="true" -->
            <!-- subject="CE FE Prod - Fatal Error - S140I010" -->
            <!-- header="" -->
            <!-- body="${date:format=dd\/MM\/yyyy HH\:mm\:ss} ${newline} ${callsite:className=true:includeSourcePath=true:methodName=true} | ${message} ${newline} ${newline} ${exception:format=tostring}" -->
            <!-- footer="${newline} ${newline} ${newline}*** This is an automatically generated email, please do not reply ***" -->
            <!-- smtpServer="wksmtphub.ec.corpintra.net" /> -->

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="LogFileDebug" />
    <logger name="*" minlevel="Info" maxlevel="Error" writeTo="LogFile" />
    <logger name="*" minlevel="Fatal" writeTo="FatalLogFile" />
    <!--<logger name="*" minlevel="Fatal" writeTo="LogMail" />-->
  </rules>

</nlog>
