<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ServiceUrl"
         value="https://s140i006.pt140.corpintra.net/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="DBWORKFLOW"
         providerName="System.Data.SqlClient"
         connectionString="Initial Catalog=DBWORKFLOW;Data Source=s140b004.pt140.corpintra.net\MCSTRATEGY;User Id=iis_user;Password=!iis_user00;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <mbpFramework>
    <mailService host="wksmtphub.wk.dcx.com"
                 port="25"
                 username="pid6c4a@emea.corpdir.net"
                 password="Mercedes2014"
                 enableSSL="false"
                 xdt:Transform="SetAttributes" />
  </mbpFramework>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json"
               xdt:Transform="Remove" xdt:Locator="Match(mimeType)" />
    </staticContent>
  </system.webServer>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="false" xdt:Transform="SetAttributes">

    </defaultProxy>
  </system.net>
</configuration>